<div class="page-index">
    <div class="swiper-container" data-space-between="20" style="margin-top: .5rem; font-size: medium">
        <!--<span style="padding-left: .5em">热门电影</span>-->
        <div class="content-block-title">热门电影</div>
        <div class="swiper-wrapper">
            {% for h in hot %}
            <div class="swiper-slide">
                <a href="{% url 'movie' h.id %}">
                    <img src="{{ h.url }}" style="width:128px;">
                </a>
            </div>
            {% endfor %}
            {% comment %}<div class="swiper-slide">
                <a href="#">
                    <img src="img/5102b3f7261caa09c1c9b1212f09cc1f461902.png.webp">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <img src="img/7797d45caf40fcfcdc0f88378850e2441016690.jpg">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <img src="img/b0463d95e071532a4c5cd4eb4e8488631018469.jpg">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <img src="img/b9395cd202a461303cf06cea89292071556090.png">
                </a>
            </div>{% endcomment %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="content-block-title">所有电影</div>
    <div class="list-block media-list">
        <ul>
            {% for m in movies %}
            <li>
                <a class="item-link item-content" href="{% url 'movie' m.id %}">
                    <div class="item-media">
                        <img src="{{ m.url }}"
                             style='width: 4rem;'>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{ m.name }}</div>
                            <div class="item-after" style="color: #d54545;">{{ m.price }}起</div>
                        </div>
                        <div class="item-subtitle" style="margin-top: .33rem;">{{ m.type }}</div>
                        <div class="item-text">主演:{{ m.actor }}</div>
                    </div>
                </a>
            </li>
            {% endfor %}
            <!-- more -->
        {% comment %}
            <li>
                <a class="item-link item-content" href="#">
                    <div class="item-media">
                        <img src="http://p0.meituan.net/movie/c73c3b0511b40f083845445f1099a0a8958380.jpg.webp@128w_180h"
                             style='width: 4rem;'>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">标题</div>
                            <div class="item-after">$15</div>
                        </div>
                        <div class="item-subtitle">标题</div>
                        <div class="item-text">此处是文本内容...</div>
                    </div>
                </a>
            </li>
            <li>
                <a class="item-link item-content" href="#">
                    <div class="item-media">
                        <img src="http://p0.meituan.net/movie/dd015fae6c6e85fb90adcd37af038a60382225.jpg.webp@128w_180h"
                             style='width: 4rem;'>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">标题</div>
                            <div class="item-after">$15</div>
                        </div>
                        <div class="item-subtitle">标题</div>
                        <div class="item-text">此处是文本内容...</div>
                    </div>
                </a>
            </li>{% endcomment %}
        </ul>
    </div>
</div>
<script>
    $(".swiper-container").swiper({
        slidesPerView: 3,
        spaceBetween: 30,
    });
</script>