<div class="page-index">
    <div class="content-block-title">所有订单</div>
    <div class="list-block media-list">
        <ul>
            <li>
                <a class="item-link item-content" href="#">
                    <div class="item-media">
                        <img src="http://p1.meituan.net/movie/b9395cd202a461303cf06cea89292071556090.png.webp@128w_128h"
                             style='width: 4rem;'>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">某电影</div>
                            <div class="item-after" style="color: #d54545">33元</div>
                        </div>
                        <div class="item-subtitle" style="margin-top: .4rem;">2017年11月11日</div>
                        <div class="item-text">13:00场</div>
                    </div>
                </a>
            </li>
            <!-- more -->
        </ul>
    </div>
</div>