{% load dict %}
<div class="page-index">
    <div class="content-block-title">所有订单</div>
    <div class="list-block media-list">
        <ul>
            {% for x in orders %}
            <li>
                <a class="item-link item-content" href="javascript:">
                    <div class="item-media">
                        <img src="{{ x.session_id.movie_id.url }}"
                             style='width: 4rem;'>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">{{ x.session_id.movie_id.name }}</div>
                            <div class="item-after" style="color: #d54545">{{ x.price }}元</div>
                        </div>
                        <div class="item-subtitle" style="margin-top: .4rem;">{{ x.session_id.start_time|date:"Y年m月d日" }}</div>
                        <div class="item-text">{{ x.session_id.start_time|date:"H:i" }}场, {{ seats|item:x.id }}</div>
                    </div>
                </a>
            </li>
            {% endfor %}
            <!-- more -->
        </ul>
    </div>
</div>